.lunchbox_folder{
    background-image:url('../images/folder.png');
    background-repeat:no-repeat;
    height:24px;
    width:24px;
}
.lunchbox_page {
    background-image:url('../images/page.png');
    background-repeat:no-repeat;
    height:24px;
    width:24px;
}