.lunchbox_folder{
    background-image:url('../images/folder.png');
    background-repeat:no-repeat;
    height:17px;
    width:28px;
}

.lunchbox_folder:hover {
     background-image:url('../images/folder-open.png');
}
.lunchbox_page {
    background-image:url('../images/page.png');
    background-repeat:no-repeat;
    height:24px;
    width:24px;
}
.lunchbox_breadcrumb {
    font-weight: bold;    
}
.lunchbox_breadcrumb:hover {
    color: #6d9524;
    cursor: pointer;
}
#lunchbox_breadcrumbs {
    height: 20px;
}

/* Custom Icon for our class_key */
.icon-lunchbox .x-tree-node-icon {
    background-image: url(../images/lunchbox-icon.png) !important;
}

#lunchbox_breadcrumbs {
    padding: 2px 0 0 5px;
    color: #9e9e9e;
    text-align: right;
    margin: 10px 30px 0px 0px;
}
.lunchbox-grid-bc table {
    border: none !important;
}
.lunchbox-grid table {
    border: 1px solid red;
}

.x-grid3-row-table td {
    vertical-align: middle;
}

.container {
    margin-top: 10px;
}